<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= select_tag("student[color]", options_for_select([['DarkRed'], ['MediumVioletRed'], ['OrangeRed'], ['Gold'], ['DarkKhaki'], ['Fuchsia'], ['DarkViolet'], ['Indigo'], ['SeaGreen'], ['DarkGreen'], ['DarkOliveGreen'], ['Teal'], ['Navy'], ['Maroon'], ['DimGray'], ['Black']], @student.color)) %>
  </div>
  <div class="field">
    <%= f.label "Abteilung" %><br />
    <%= select_tag("student[department_id]", options_from_collection_for_select(Department.find(:all), "id", "name")) %>
  </div>

  </br>
  <b>Gerade Woche</b>
  <div class="field">
    <%= f.label "Montag" %><br />
    <%= f.time_select :mo_even_start %> - <%= f.time_select :mo_even_end %>
  </div>
  <div class="field">
    <%= f.label "Dienstag" %><br />
    <%= f.time_select :tu_even_start %> - <%= f.time_select :tu_even_end %>
  </div>
  <div class="field">
    <%= f.label "Mittwoch" %><br />
    <%= f.time_select :we_even_start %> - <%= f.time_select :we_even_end %>
  </div>
  <div class="field">
    <%= f.label "Donnerstag" %><br />
    <%= f.time_select :th_even_start %> - <%= f.time_select :th_even_end %>
  </div>
  <div class="field">
    <%= f.label "Freitag" %><br />
    <%= f.time_select :fr_even_start %> - <%= f.time_select :fr_even_end %>
  </div>
  </br>
  <b>Ungerade Woche</b>
  <div class="field">
    <%= f.label "Montag" %><br />
    <%= f.time_select :mo_start %> - <%= f.time_select :mo_end %>
  </div>
  <div class="field">
    <%= f.label "Dienstag" %><br />
    <%= f.time_select :tu_start %> - <%= f.time_select :tu_end %>
  </div>
  <div class="field">
    <%= f.label "Mittwoch" %><br />
    <%= f.time_select :we_start %> - <%= f.time_select :we_end %>
  </div>
  <div class="field">
    <%= f.label "Donnerstag" %><br />
    <%= f.time_select :th_start %> - <%= f.time_select :th_end %>
  </div>
  <div class="field">
    <%= f.label "Freitag" %><br />
    <%= f.time_select :fr_start %> - <%= f.time_select :fr_end %>
  </div>
  </br>
  <div class="field">
    <%= f.label :pause %><br />
    <%= f.check_box :pause %>
  </div> 
  <div class="field">
    <%= f.label "Kommentar" %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label "Passwort *" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
